{% extends 'front.html.twig' %}

{% block style %}
    <style>
        .btn-2{
            border-radius: 50px;
            padding: 10px 40px;
            color:#ffde59;
            font-weight: bold;
            font-family:'Arimo', sans-serif;
            background: #545454;
            border:2px solid #ffde59;
        }
        .btn-2:hover{
            border-radius: 50px;
            padding: 10px 40px;
            color: #545454;
            font-weight: bold;
            font-family:'Arimo', sans-serif;
            background: linear-gradient(#ffde59,#ffbd59,#ff914d);
            border:2px solid #545454;
        }
    </style>
{% endblock %}

{% block body %}


    <section class="container-fluid" style="padding-top:100px;padding-bottom:80px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="font-family:'Raleway', sans-serif;
                  color:#545454;
                  font-weight: bold;
                  font-size: 45px;
                  text-align:center;
                   padding-bottom:30px;"> <strong>Entretien Vidéo</strong>
                    </h2>
                    <h3 data-aos="zoom-in"  data-aos-duration="600"
                        style="color: #ff914d;
                  font-family: 'Arimo', sans-serif;
                  text-align: center;
                  padding-bottom:30px;">ENTREZ DANS L'ERE DU RECRUTEMENT 2.0</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4 data-aos="fade-right" data-aos-duration="800"
                        style="font-weight: bold;padding-bottom: 20px;text-align: center;">Le concept</h4>
                    <div style="font-size: 20px;text-align: justify;" >
                        <p data-aos="fade-right" data-aos-duration="1000">
                            Cette plateforme digitale dédiée au recrutement 2.0 met en relation les candidats à la recherche de nouvelle opportunité de travail et les entreprises à la recherche de meilleur
                            talents.
                        </p>
                        <p data-aos="fade-right" data-aos-duration="1400">
                            Inscrivez-vous et ayez accès à des entretiens différés des candidats potentiels.
                        </p>
                        <p data-aos="fade-right" data-aos-duration="1000">Contactez-nous pour plus d'information.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4 data-aos="fade-left" data-aos-duration="800"
                        style="font-weight: bold;padding-bottom: 20px; text-align: center;">Les avantages</h4>
                    <div style="font-size: 20px;" >
                        <p style="text-align: center;" data-aos="fade-left" data-aos-duration="1400">
                            ●  Accélérer le processus de recrutement<br>
                            ● Large choix des candidats potentiels
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" style="background-color: #f5f5f5; padding: 80px 80px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="font-family:'Raleway', sans-serif;
                  color:#545454;
                  font-weight: bold;
                  font-size: 45px;
                  text-align:center;
                   padding-bottom:30px;">Tous les Entretiens Vidéos</h2>
                </div>
            </div>
            {% if app.user %}
                <div class="row" id="entretientvideo" style="text-align: center;">
                    {% if entretien|length != 0 %}
                        {% for e in entretien %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div style="background-color: #2d2d2c; width:100%;text-align: center">
                                    <div><a href="{{ path('show_tient',{id: e.id}) }}"><video  poster="/assets/img/video3.png" src="{{ e.video }}"width="100%" height="300px"></video><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>{{ e.description }}</strong></p></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else  %}
                        <p>Aucun entretient vidéo pour l'instant</p>
                    {% endif %}

                </div>
            {% else %}
                <center><h2>Vous ne pouvez pas voir ça il faut se connecter <a href="{{ path('connexion') }}">Connection</a> </h2></center>
            {% endif %}
        </div>
    </section>

    <section class="container-fluid" style="background: linear-gradient(#ffde59,#ffbd59);padding-top: 60px;padding-bottom: 60px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="text-align: center;font-family:'Raleway', sans-serif; ">
                        <h2 style="color: #545454;font-size: 40px;"
                            data-aos="zoom-in" data-aos-duration="800">
                            <strong>Pour plus d'information</strong>
                        </h2>
                        <h3 style="color: #fff;padding-top: 20px;"
                            data-aos="fade-left" data-aos-duration="900">
                            <strong>CONTACTEZ-NOUS</strong>
                        </h3>
                    </div>
                    <div  style="padding-top: 20px;text-align: center;font-size: 20px;"
                          data-aos="fade-right" data-aos-duration="1000">
                        <a href="{{path('contact')}}">
                            <button type="button" class="btn-2 ">
                                <strong>CONTACT</strong>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}