{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2><b>Ressource</b></h2><hr>
        <table class="table table-striped">
            <a href="{{ path('res_new') }}" class="text-left">
                <div class="btn btn-primary">Ajouter ressource</div>
            </a>
            <thead>
            <tr>
                <th>Type</th>
                <th>Titre</th>
            </tr>
            </thead>
            <tbody>
            {% for r in ressource %}
                <tr>
                    <td>{{ r.type }}</td>
                    <td>{{ r.titre }}</td>
                    <td>
                        <a href="{{ path('ShowResource',{id: r.id}) }}" class="btn btn-info">Voir</a>
                        <a href="{{path('UpdateResource',{id: r.id})}}" class="btn btn secondary">Modifier</a>
                        <a href="{{path('deletevideo',{id: r.id})}}" class="btn btn secondary">Supprimer</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
