{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ajout nouveau client</h2>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">{{ form_row(form.responabilite) }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.username) }}</div>
        <div class="col-md-6">{{ form_row(form.password) }}</div>
    </div>
    <button class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}