{% extends 'front.html.twig' %}

{% block style %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <title>Exemple &#8211; corban</title>
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="corban &raquo; Feed" href="http://127.0.0.1:8000/wp/?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="corban &raquo; Comments Feed" href="http://127.0.0.1:8000/wp/?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="corban &raquo; Exemple Comments Feed" href="http://127.0.0.1:8000/wp/?feed=rss2&#038;p=12" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/127.0.0.1:8000\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dashicons-css'  href='http://127.0.0.1:8000/wp/wp-includes/css/dashicons.min.css?ver=5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='admin-bar-css'  href='http://127.0.0.1:8000/wp/wp-includes/css/admin-bar.min.css?ver=5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css'  href='http://127.0.0.1:8000/wp/wp-includes/css/dist/block-library/style.min.css?ver=5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-theme-css'  href='http://127.0.0.1:8000/wp/wp-includes/css/dist/block-library/theme.min.css?ver=5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='twentynineteen-style-css'  href='http://127.0.0.1:8000/wp/wp-content/themes/twentynineteen/style.css?ver=1.3' type='text/css' media='all' />
    <link rel='stylesheet' id='twentynineteen-print-style-css'  href='http://127.0.0.1:8000/wp/wp-content/themes/twentynineteen/print.css?ver=1.3' type='text/css' media='print' />
    <link rel='https://api.w.org/' href='http://127.0.0.1:8000/wp/index.php?rest_route=/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://127.0.0.1:8000/wp/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://127.0.0.1:8000/wp/wp-includes/wlwmanifest.xml" />
    <link rel='prev' title='Ngiah taxe' href='http://127.0.0.1:8000/wp/?p=9' />
    <meta name="generator" content="WordPress 5.1" />
    <link rel="canonical" href="http://127.0.0.1:8000/wp/?p=12" />
    <link rel='shortlink' href='http://127.0.0.1:8000/wp/?p=12' />
    <link rel="alternate" type="application/json+oembed" href="http://127.0.0.1:8000/wp/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2F127.0.0.1%3A8000%2Fwp%2F%3Fp%3D12" />
    <link rel="alternate" type="text/xml+oembed" href="http://127.0.0.1:8000/wp/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=http%3A%2F%2F127.0.0.1%3A8000%2Fwp%2F%3Fp%3D12&#038;format=xml" />
    <link rel="pingback" href="http://127.0.0.1:8000/wp/xmlrpc.php">		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <style type="text/css" media="print">#wpadminbar { display:none; }</style>
    <style type="text/css" media="screen">
        html { margin-top: 32px !important; }
        * html body { margin-top: 32px !important; }
        @media screen and ( max-width: 782px ) {
            html { margin-top: 46px !important; }
            * html body { margin-top: 46px !important; }
        }
    </style>
    <style>
        .mask00{
            background: #ffbd59;
            color: #fff;
            text-align: center;
        }
        .btn00{
            background: transparent;
            color: #fff;
            border-radius: 75px;
            border: 2px solid #fff;
        }
        .btn00:hover{
            background: #ffbd59;
            color: #fff;
            border-radius: 75px;
            border: 2px solid #fff;
        }
    </style>

    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/11.2.0\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/127.0.0.1:8000\/wp\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.1"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

{% endblock %}

{% block body %}
    {#<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
    {#    <div class="carousel-inner">#}
    {#        <div class="carousel-item active">#}
    {#            <img src="assets/images/ressource/20.jpg" class="d-block w-100" alt="">#}
    {#            <div class="carousel-caption d-none d-md-block" style="bottom: 200px;#}
    {#                    text-align: center;">#}
    {#                <div>#}
    {#                    <a href="index.php?page=ressources">#}
    {#                        <h4 style="font-weight: bold;#}
    {#                        font-family: 'Raleway', sans-serif;#}
    {#                        font-size: 50px;#}
    {#                        color: #545454">Toutes nos ressources#}
    {#                        </h4>#}
    {#                    </a>#}

    {#                    <p style="color: #545454;#}
    {#                        font-size: 20px;#}
    {#                        font-family: 'Raleway', sans-serif;#}
    {#                        ">Profitez gratuitement de nos ressources et consommez les sans modération.#}
    {#                    </p>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#</div>#}

    <section class="container-fluid" style="background-color:  #fff ;padding: 80px 20px;">
        <div class="container">
            <div class="row">
                <div class="">
                    <h2 data-aos="fade-right" data-aos-duration="800" style="color: #222222;
                          text-align: left;
                          font-family: 'Raleway', sans-serif;
                          padding-bottom: 70px;
                          font-size: 45px;">{{ post.postTitle|raw }}</h2>
                </div>
            </div>
                    <div class="row" id="blog" style="text-align: left;">
                        <div style="font-weight: bold">
                            {{ post.postContent|raw }}
{#                            <a href="{{ path("blog_contenu",{id:p.id}) }}">Lire la contenue</a>#}
                        </div>
                    </div>
            {{ post.commentaires|length }} commentaires
            <p>------------------------------------------</p><br>
            <div class="comment-list">
                {% if post.commentaires|length > 0 %}
                    {% for c in post.commentaires %}
                        {% set athor=(c.author==null)?''~c.authorClient.responabilite~' de '~c.authorClient.client.nom:''~c.author.nom %}
                        <div style="font-weight: bold; color: #0c83e2">{{ athor~' :' }}</div>
                        <div class="comment">{{ c.contenu }}</div><hr style="">
                    {% endfor %}
                {% endif %}
            </div>
            {% if app.user %}
            <div class="form-comment">
                {{ form_start(comment) }}
                {{ form_row(comment.contenu) }}
                <input type="submit" class="btn-sm btn-primary" value="Commenter">
                {{ form_end(comment) }}
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}