{% extends 'front.html.twig' %}

{% block style %}
{% endblock %}

{% block body %}
<div class="container-fluid" style="padding-top: 150px;padding-bottom: 50px;
                                     background-image: url(/assets/images/service/cvvideo/20.jpg);">
    <div class="container">
        <div class="row" id="tem" style="margin-left: 2px;">
            <div><iframe src="{{ document.file }}"  width="500px" ></iframe></div>


        </div>
        <div id="desc" data-aos="fade-left" data-aos-duration="900" id="desc" style="float: right; width: 600px; text-align: left; margin-top: -350px; margin-right:10px;">
            <div> <p style="color:#ffbd59;font-size:20px;"><strong>{{ document.type }} BY CORBAN </strong></p><p style="color:#000000;padding-top:10px;font-size:50px;" data-aos="fade-right"data-aos-duration="600" ><strong>{{ document.titre }}</strong></p></div>

        </div>

        <hr>

        <div class="row" style="text-align: center;color: #fff;font-size: 30px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 data-aos="fade-left"data-aos-duration="800" style="font-family:'Raleway', sans-serif;
                  color:#fff;
                  font-weight: bold;
                  font-size: 45px;
                  text-align:center;">
                    <strong>Tous les E-BOOK</strong>
                </h2>
            </div>
        </div>
        <hr>
        <div class="row" id="ebook" style="text-align: center;padding-top: 30px;">
            {% if documents|length != 0 %}
                {% for d in documents %}

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div style="background-color: #2d2d2c; width:100%;text-align: center">
                            <div><a href="{{ path('show_ebook',{id: d.id}) }}"><iframe  src="/uploads/{{ d.file }}" width="100%" height="300px"></iframe><p style="color:#fff;background-color:#ffbd59;padding-bottom:10px;padding-top:10px;font-size:20px;"><strong>{{ d.titre }}</strong></p></a></div>

                        </div>
                    </div>
                {% endfor %}
            {% else  %}
                <p></p>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}