{% extends 'front.html.twig' %}
    {% block style %}
        <style>
            h3{
                text-align: center;
                font-weight: bold;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
            }
        </style>

    {% endblock %}
{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/public/assets/images/ressource/20.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block" style="bottom: 200px;
                    text-align: center;">
                    <div>
                        <h4 style="font-weight: bold;
                        font-family: 'Raleway', sans-serif;
                        font-size: 50px;
                        color: #545454">Toutes nos ressources
                        </h4>
                        <p style="color: #545454;
                        font-size: 20px;
                        font-family: 'Raleway', sans-serif;
                        ">Profitez gratuitement de nos ressources et consommez les sans modération.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container-fluid" style="padding-top:70px; padding-bottom:50px; ">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"  >
                    <div data-aos="fade-right"
                         data-aos-offset="300"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('temoignage') }}">
                            <img src="/public/assets/images/ressource/2/temoignage.png" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#545454,#2d2d2c); padding: 20px 30px;">
                            <a href="{{ path('temoignage') }}">
                                <h3 style="color:#fbfbfb;">TESTIMONY</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="fade-up"
                         data-aos-offset="300"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('vlog') }}">
                            <img src="/public/assets/images/ressource/2/vlogs.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background: linear-gradient(#ff9b79,#ffb301); padding: 20px 30px;">
                            <a href="{{ path('vlog') }}">
                                <h3 style="color: #fbfbfb;">VLOG</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="fade-left"
                         data-aos-offset="300"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('fact') }}">
                            <img src="/public/assets/images/ressource/2/fact fuel.png" style="width:100%; height:300px;">
                        </a>
                        <div style="background:#0fa693; padding: 20px 30px;">
                            <a href="{{ path('fact') }}">
                                <h3 style="color: #fbfbfb;">FACT & FUEL</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-right"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('jour') }}">
                            <img src="/public/assets/images/ressource/2/lajou.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#70b99e,#53838f); padding: 20px 30px;">
                            <a href="{{ path('jour') }}">
                                <h3 style="color:#fbfbfb;">LA JOURNEE D'UN</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-down"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('success') }}">
                            <img src="/public/assets/images/ressource/2/success story.png" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#2b4f7a,#376597); padding: 20px 30px;">
                            <a href="{{ path('success') }}">
                                <h3 style="color:#fbfbfb;">SUCCESS STORIE</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-left"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('ebook') }}">
                            <img src="/public/assets/images/ressource/2/ebook.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#8551cf,#d85d8c); padding: 20px 30px;">
                            <a href="{{ path('ebook') }}">
                                <h3 style="color:#fbfbfb; ">E-BOOK</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="fade-right"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="index.php?page=blog">
                            <img src="/public/assets/images/ressource/2/blog.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#1c5187,#100e33); padding: 20px 30px;">
                            <a href="{{ path('blog') }}">
                                <h3 style="color:#fbfbfb;">BLOG ARTICLES</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="fade-down"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('daily') }}">
                            <img src="/public/assets/images/ressource/2/daily.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#ff5e63,#ff8d66); padding: 20px 30px;">
                            <a href="{{ path('daily') }}">
                                <h3 style="color:#fbfbfb;">DAILY QUOTES</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="fade-left"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('protip') }}">
                            <img src="/public/assets/images/ressource/2/pro.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#bf40ff,#797cff); padding: 20px 30px;">
                            <a href="{{ path('protip') }}">
                                <h3 style="color:#fbfbfb;">PRO TIPS</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 40px;">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-right"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('brochure') }}">
                            <img src="/public/assets/images/ressource/2/broch.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#ffa101,#ff7f00); padding: 20px 20px;">
                            <a href="{{ path('brochure') }}">
                                <h3 style="color:#fbfbfb;">BROCHURES</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-up"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('video') }}">
                            <img src="/public/assets/images/ressource/2/cvvideo.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#242223,#393738); padding: 20px 20px;">
                            <a href="{{ path('video') }}">
                                <h3 style="color:#fbfbfb;">CV VIDEO</h3>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" >
                    <div data-aos="zoom-in-left"
                         data-aos-offset="400"
                         data-aos-easing="ease-in-sine"
                         data-aos-duration="500">
                        <a href="{{ path('entretient') }}">
                            <img src="/public/assets/images/ressource/2/entre.jpg" style="width:100%; height:300px;">
                        </a>
                        <div style="background:linear-gradient(#393738,#242223);padding: 20px 20px;">
                            <a href="{{ path('entretient') }}">
                                <h3 style="color:#fbfbfb;">INTERVIEW VIDEO</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}