{% extends 'front.html.twig' %}

{% block style %}
    <style>
        .zoom div img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        .zoom div:hover img {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
        .slide24 div img {
            margin-left: 0px;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        .slide24 div:hover img {
            margin-left: -30px;
        }
        .btn-2{
            border-radius: 50px;
            padding: 10px 40px;
            color:#ffde59;
            font-weight: bold;
            font-family:'Arimo', sans-serif;
            background: #545454;
            border:2px solid #ffde59;
        }
        .btn-2:hover{
            border-radius: 50px;
            padding: 10px 40px;
            color: #545454;
            font-weight: bold;
            font-family:'Arimo', sans-serif;
            background: linear-gradient(#ffde59,#ffbd59,#ff914d);
            border:2px solid #545454;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/service/20.jpg" class="d-block w-100" alt="">
                <div class="carousel-caption d-none d-md-block" style="bottom: 270px;text-align: center;">
                    <div>
                        <h4 style="color: #545454;
                    font-weight: bold;
                    font-family: 'Raleway', sans-serif;;
                    margin-left: 150px;
                    font-size: 40px">
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container-fluid" style="background-color:#ffffff;
                                        padding-top: 80px;
                                        padding-bottom: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 style="color: #222222;
                  font-family: 'Raleway', sans-serif;;
                  font-size: 65px;
                  text-align: center;
                  font-weight: bold;"> Nos Services
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" style="background: linear-gradient(#ffde59,#ffbd59);
                                        padding: 10px 10px;">
        <div class="container">
            <div class="row" style="color: #222222;
                            font-family: 'Arimo', sans-serif;
                            text-align: center;">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-right" data-aos-duration="700">
                        <a href="#recru">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/2.png" style="max-width: 100%;height: 90px;">
                                </div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">RECRUTEMENT</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-down" data-aos-duration="700">
                        <a href="{{path('video')}}">
                            <div class="slide24">
                                <div>
                                    <img src="/assets/images/service/noir/2.png" style="max-width: 100%;height: 90px;">
                                </div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">CV VIDEO</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-down" data-aos-duration="700">
                        <a href="{{path('entretient')}}">
                            <div class="slide24">
                                <div>
                                    <img src="/assets/images/service/noir/3.png" style="max-width: 100%;height: 90px;"></div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">ENTRETIEN VIDEO</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="padding-bottom: 40px;">
                    <div data-aos="fade-left" data-aos-duration="700">
                        <a href="{{ path('inbound') }}">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/4.png" style="max-width: 100%;height: 90px;"></div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">INBOUND RECRUITING</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-right" data-aos-duration="700">
                        <a href="#externalisation">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/5.png" style="max-width: 100%;height: 90px;"></div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">EXTERNALISATION DE PAIE</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-up" data-aos-duration="700">
                        <a href="#conseil">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/6.png" style="max-width: 100%;height: 90px;">
                                </div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">CONSEIL RH</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-up" data-aos-duration="700">
                        <a href="{{ path('cooptat') }}">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/7.png" style="max-width: 100%;height: 90px;">
                                </div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">COOPTATION</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div data-aos="fade-left" data-aos-duration="700">
                        <a href="#formation">
                            <div class="slide24">
                                <div>
                                    <img src="assets/images/service/noir/8.png" style="max-width: 100%;height: 90px;">
                                </div>
                            </div>
                        </a>
                        <p style="font-size: 15px; padding-top: 5px;">FORMATION</p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <section class="container-fluid" style="background: #ffffff;padding-top: 80px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="recru" >
                    <h3 class="text-center"  style="color:#393838;
                                          font-family: 'Raleway', sans-serif;;
                                          font-weight: bold;
                                          font-size: 40px;
                                          padding-bottom: 20px ">RECRUTEMENT
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color: #222222;
                                                                  font-family: 'Raleway', sans-serif;;
                                                                  font-size: 18px;
                                                                  text-align: justify;">
                    <br>
                    <p data-aos="fade-right" data-aos-duration="500">Corban Performance Consulting accompagne les entreprises
                        dans leur projet de recrutement.
                    </p>
                    <p data-aos="fade-right" data-aos-duration="700">Nous proposons un service tout compris depuis le briefing
                        jusqu'à la proposition des CV en passant par le sourcing, les
                        différents tests et les entretiens.
                    </p>
                    <p data-aos="fade-right" data-aos-duration="800">En plus des 7 000 CV dans notre base de données, nous mettons
                        également au service de nos clients notre réseau de coopteur
                        ainsi la nouvelle technologie à travers notre
                        <strong> CV Vidéo et Entretien Vidéo. </strong>
                    </p>
                    <p data-aos="fade-right" data-aos-duration="900"><br>
                        <strong>NOS GARANTIES:</strong>
                        la confidentialité, la rapidité et les compétences.
                    </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"   >
                    <div class="row" >
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24" >
                                <div data-aos="fade-left" data-aos-duration="500">
                                    <img src="/assets/images/service/recrutement/1.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div >
                                <div data-aos="fade-left" data-aos-duration="700">
                                    <img src="/assets/images/service/recrutement/h.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-left" data-aos-duration="900">
                                    <img src="/assets/images/service/recrutement/2.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div>
                                <div data-aos="fade-left" data-aos-duration="1100">
                                    <img src="/assets/images/service/recrutement/h.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-left" data-aos-duration="1300">
                                    <img src="/assets/images/service/recrutement/3.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div>
                                <div data-aos="fade-left" data-aos-duration="500">
                                    <img src="/assets/images/service/recrutement/v.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-right" data-aos-duration="1300">
                                    <img src="/assets/images/service/recrutement/4.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div >
                                <div data-aos="fade-right" data-aos-duration="1100">
                                    <img src="/assets/images/service/recrutement/h.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-right" data-aos-duration="900">
                                    <img src="/assets/images/service/recrutement/5.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div>
                                <div data-aos="fade-right" data-aos-duration="700">
                                    <img src="/assets/images/service/recrutement/h.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-right" data-aos-duration="500">
                                    <img src="/assets/images/service/recrutement/6.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div>
                                <div data-aos="fade-right" data-aos-duration="1500">
                                    <img src="/assets/images/service/recrutement/v.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                    </div>

                    <div class="row" style="text-align: center;">
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            <div class="slide24">
                                <div data-aos="fade-right" data-aos-duration="1500">
                                    <img src="/assets/images/service/recrutement/7.png" style="max-width: 100%;height: 70px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid"  style="background: linear-gradient(#ffbd59,#ff914d);padding-top: 80px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center" id="formation" style="color:#393838;
                                      font-family: 'Raleway', sans-serif;;
                                      font-weight: bold;
                                      text-align: center;
                                      font-size: 40px;
                                      padding-bottom: 40px">FORMATION
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-right" data-aos-duration="900">
                                    <img src="/assets/images/service/formation/1.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-right" data-aos-duration="700">
                                    <img src="/assets/images/service/formation/2.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-right" data-aos-duration="500">
                                    <img src="/assets/images/service/formation/3.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="500">
                                    <img src="/assets/images/service/formation/4.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="700">
                                    <img src="/assets/images/service/formation/5.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="900">
                                    <img src="/assets/images/service/formation/6.png" style="max-width: 100%;height: 120px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color: #222222;
                                                              font-family: 'Raleway', sans-serif;
                                                              text-align: center;">
                    <p data-aos="fade-left" data-aos-duration="800" style="font-size: 23px;text-align: justify;">
                        Corban Performance Consulting offre un large éventail
                        de formation aussi bien pour les professionnels et les
                        candidats à la recherche de travail ainsi que les
                        entrepreneurs.
                    </p>
                    <p data-aos="fade-left" data-aos-duration="900" style="text-align: center;font-size: 25px;padding-top:40px;">
                        <strong>Télécharger notre catalogue de formation</strong>
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="container-fluid"  style="background: #ffffff;padding-top: 80px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center" id="externalisation" style="color:#393838;
                                      font-family: 'Raleway', sans-serif;;
                                      font-weight: bold;
                                      text-align: center;
                                      font-size: 40px;
                                      padding-bottom: 40px">EXTERNALISATION DE PAIE
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color: #222222;
                                                              font-family: 'Raleway', sans-serif;;
                                                              font-size: 21px;
                                                              text-align: center;">
                    <div style="text-align: justify;">
                        <p data-aos="fade-right" data-aos-duration="800">
                            L'externalisation de paie est une solution moins coûteuses et
                            plus flexible d'un côté et de l'autre, une solution qui permet
                            de réduire considérablement les erreurs. Au delà de cela,
                            elle vous fait gagner du temps.
                        </p>
                        <br>
                        <p data-aos="fade-right" data-aos-duration="900">
                            Les experts de Corban Performance Consulting vous
                            aideront à se libérer des lourdeurs administratives liés à la
                            paie, ainsi vous pouvez vous consacrer à votre cœur de
                            métier.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="800">
                                    <img src="assets/images/service/exter/1.png" style="max-width: 100%;height: 150px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="900">
                                    <img src="assets/images/service/exter/2.png" style="max-width: 100%;height: 150px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div  class="slide24">
                                <div data-aos="fade-left" data-aos-duration="1000">
                                    <img src="assets/images/service/exter/3.png" style="max-width: 100%;height: 150px;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" style="background:#f5f5f5;padding-top: 80px; padding-bottom: 50px" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center" id="conseil" style="color:#393838;
                                      font-family: 'Raleway', sans-serif;;
                                      font-weight: bold;
                                      text-align: center;
                                      font-size: 40px;
                                      padding-bottom: 40px;">CONSEIL EN RH
                    </h3>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-top: 40px;">
                        <h3 data-aos="fade-right" data-aos-duration="700" style="color:#000;
                    font-family: 'Raleway', sans-serif;;
                    font-weight: bold;
                    font-size: 30px;
                    text-align: left;">Nous intervenons dans
                        </h3>
                        <ul style="color:#393838;text-align:justify;font-size: 20px;">
                            <li data-aos="fade-right" data-aos-duration="900">Management stratégique des ressources humaines</li>
                            <li data-aos="fade-right" data-aos-duration="1000">Organisation et optimisation des processus</li>
                            <li data-aos="fade-right" data-aos-duration="1300">Team building</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color: #222222;
                    font-family: 'Raleway', sans-serif;;
                    font-size: 18px;
                    text-align: justify;">
                        <p data-aos="fade-left" data-aos-duration="700">
                            Dans un contexte de forte concurrence, de nécessaire
                            croissance, et dans un environnement changeant demandant
                            une réactivité et une adaptation rapide, il est nécessaire de
                            créer les conditions du développement des compétences de
                            l'ensemble de ses salariés. L'entreprise a le devoir d'optimiser
                            son capital humain.
                        </p>
                        <p data-aos="fade-left" data-aos-duration="900">
                            Corban Performance Consulting apporte les conseils dans
                            différents domaines des ressources humaines grâce à notre
                            expertise sur l'organisation et ses métiers ainsi qu'à la maîtrise
                            des outils et méthodes d'évaluation et d'analyse.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid" style="text-align: center;background: linear-gradient(#ffbd59,#ff914d)">
        <div class="row" style="padding-bottom: 100px;
                            padding-top: 100px;
                            color: #393838;
                            font-family: 'Raleway', sans-serif;;
                            text-align: center;
                            font-weight: bold;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 style="font-size: 40px"><strong>LES SECTEURS D'INTERVENTIONS</strong> </h3>
            </div>
        </div>
        <div class="row" style="padding-bottom: 100px;color: #222222;font-family: 'Arimo', sans-serif; ">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4 data-aos="fade-right" data-aos-duration="700" style="font-size: 30px;">BANQUE</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4 data-aos="fade-down" data-aos-duration="700" style="font-size: 30px;">MINE</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4 data-aos="fade-down" data-aos-duration="700" style="font-size: 30px;">INFORMATIQUE</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h4 data-aos="fade-left" data-aos-duration="700" style="font-size: 30px;">LOGISTIQUE</h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 100px;">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4 data-aos="fade-right" data-aos-duration="900" style="font-size: 30px;">MICRO FINANCE</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4 data-aos="fade-up" data-aos-duration="900" style="font-size: 30px;">HOTELLERIE & MINE</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4 data-aos="fade-left" data-aos-duration="700" style="font-size: 30px;">AGROALIMENTAIRE</h4>
            </div>
        </div>
    </section>

    <section class="container-fluid" style="background: linear-gradient(#ffde59,#ffbd59);padding-top: 60px;padding-bottom: 60px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="text-align: center;font-family:'Raleway', sans-serif; ">
                        <h2 style="color: #545454;font-size: 40px;"
                            data-aos="fade-right" data-aos-duration="800">
                            <strong>Pour plus d'information</strong>
                        </h2>
                        <h3 style="color: #fff;padding-top: 20px;"
                            data-aos="fade-left" data-aos-duration="900">
                            <strong>CONTACTEZ-NOUS</strong>
                        </h3>
                    </div>
                    <div  style="padding-top: 20px;text-align: center;font-size: 20px;"
                          data-aos="fade-right" data-aos-duration="1000">
                        <a href="{{ path('contact') }}">
                            <button type="button" class="btn-2 ">
                                <strong>CONTACT</strong>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}