{% extends 'base.html.twig' %}

{% block title %}Offre d'emplois!{% endblock %}
{% block stylesheets %}
    <style>
        #background{
            width: 100%;
            height: 1220px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #999999;
            opacity: 0.5;
            z-index: 1;
            /*display: none;*/
            visibility: hidden;
        }
        .container{
            position: absolute;
        }
        #pdf{
            position: absolute;
            width: 99%;
            z-index: 2;
            /*display: none;*/
            visibility: hidden;
        }
        #x{
            float: left;
            color: #999999;
            width: 100%;
            padding-left: 5px;
            border-radius: 2px;
            background-color: #292929;
            opacity: 0.5;
        }
        #x:hover{
            float: left;
            color: white;
            width: 100%;
            padding-left: 5px;
            border-radius: 2px;
            background-color: #292929;
        }

    </style>
{% endblock %}
{% block body %}
    <div id="background"></div>
    <div id="pdf">
        <a href="" onclick="fus()" id="x">X</a>
        <iframe id="frame" width="100%" height="900px" align="middle" allow="microphone *; autoplay *; microphone"></iframe>
    </div>
    <div class="container">
        <h3>Les Candidatures sur le poste <b>{{ offre.titre }}</b></h3>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><b>Photo</b></th>
                <th><b>Nom du coopteur</b></th>
            </tr>
            </thead>
            <tbody>
            {% for c in cooptation %}
                <tr>
                    <td><img width="75px" src="/coopteur/{{ c.coopteur.photo }}"></td>
                    <td><b><a style="color: #1e88e5" href="{{ path('show_coopteur', {id: c.coopteur.id}) }}">{{ c.coopteur.nom }}</a></b></td>
                    <td>
                        <a href="#" id="show" onclick="test('/uploads/{{ c.cv | raw }}')" class="btn btn-info">Lire CV</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

        function test(url) {
            document.getElementById('background').style.visibility='visible';
            document.getElementById('frame').src=url;
            document.getElementById('pdf').style.visibility='visible';
        }
        function fus() {
            document.getElementById('background').style.visibility='hidden';
            document.getElementById('pdf').style.visibility='hidden';
        }
    </script>

{% endblock %}
